#top{
width:auto;
height:auto;
text-align:center;
font:"Arial Narrow";
font-size:16px;
font-weight:bold;
color:#fffaf3; 
background-color:#0abab5;
}
.image{
float:right;
margin: 0 0 15px 15px;
}
#barleft{
width:25%;
height:400px;
float:left;
text-align:center;
font:"Times New Roman";
font-size:15px;
color:#D2E0E6;
font-weight:bold;
background-color:#cecece;
}
#body{
width:75%;
height:400px;
text-align:center;
font:"Times New Roman";
font-size:15px;
color:#528CE0;
font-weight:bold;
background-color:#fffaf3;
float:left;
}
#buttom{
width:auto;
height:auto;
text-align:center;
line-height:80px;
font:"Arial Narrow";
font-size:16px;
color:#fffaf3;
background-color:#0abab5;
}